<h1> See what's in the database! </h1>
<h1> Users </h1>
<%= @users.each do |this| %>
<h1><%= puts this %></h1>
<% end %>
<h1> Cats </h1>
<%= @cats.each do |this| %>
<h1><%= puts this %></h1>
<% end %>
<h1> Todos </h1>
<%= @todos.each do |this| %>
<h1><%= puts this %></h1>
<% end %>
